#buy-now-btn {
  background: linear-gradient(
    179.6deg,
    rgb(26, 0, 12) -4.9%,
    rgba(0, 77, 105, 1) 108.4%
  );
  margin-left: 20px;
  color: white;
  width: 250px;
  height: 40px;
  border-radius: 10px;
}

#buy-now-btn:hover {
  background: rgb(87, 14, 25);
  transition-duration: 1s;
}
